.board {
  &__inner {
    width: 800px;
    height: 400px;

    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(20, 1fr);

    border: solid 8px rgb(173, 184, 142);
    background: rgb(196, 208, 163);

    z-index: 10;
    overflow: hidden;
  }

  &__wrapper--1 {
    border: solid 10px rgb(89, 96, 71);
    border-radius: 20px;
  }

  &__wrapper--2 {
    border: solid 10px rgb(175, 186, 144);
    border-radius: 12px;
  }

  &__wrapper--3 {
    border: solid 28px rgb(139, 150, 110);
    border-radius: 2px;

    box-shadow: 0 0 0 4px #8b966e;
  }

  &__wrapper--4 {
    border: solid 4px rgb(89, 96, 69);
  }
}
