.food {
  position: relative;
  overflow: hidden;

  width: 20px;
  height: 20px;

  grid-row-start: 5;
  grid-column-start: 5;
  border: solid 2px rgb(173, 184, 142);

  display: flex;
  align-items: center;
  justify-content: center;

  visibility: hidden;

  &__inner {
    width: 12px;
    height: 12px;
    border: solid 2px rgb(75, 83, 62);
  }

  &__line {
    position: absolute;
    background: rgb(75, 83, 62);
  }

  &__line--1 {
    top: -5%;
    width: 2px;
    height: 4px;
  }

  &__line--2 {
    top: 80%;
    width: 2px;
    height: 4px;
  }

  &__line--3 {
    left: -5%;
    width: 4px;
    height: 2px;
  }

  &__line--4 {
    left: 80%;
    width: 4px;
    height: 2px;
  }
}
