.board {
  &__wrapper--1 {
    border: solid 3px $color-3;
  }
  
  &__wrapper--2 {
    background-color: lighten($color-1, 4%);
    border: solid 22px lighten($color-1, 4%);
  }
  
  &__wrapper--3 {
    border: solid 3px darken($color-3, 5%);
  }

  &__inner {
    background: $color-1;
    border-radius: 8px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(20, 1fr);
    z-index: 10;
    overflow: hidden;
  }
}
