.board {
  &__wrapper--1 {
    border: solid 2px rgb(44, 44, 44);
  }

  &__wrapper--2 {
    background-color: lighten($color-1, 4%);
    border: solid 10px lighten($color-1, 4%);
  }

  &__wrapper--3 {
    border: solid 2px rgb(44, 44, 44);
  }

  &__inner {
    background: $color-1;
    border-radius: 8px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(20, 1fr);
    z-index: 10;
    overflow: hidden;
  }
}
