.board {
  &__wrapper--1 {
    border: solid 3px rgba($color-2, 0.25);
    border-radius: 12px;
  }
  
  &__wrapper--2 {
    background-color: lighten($color-1, 5%);
    border: solid 14px lighten($color-1, 5%);
    border-radius: 12px;
  }
  
  &__wrapper--3 {
    border: solid 3px rgba($color-2, 0.25);
    border-radius: 8px;
  }

  &__inner {
    background: $color-1;
    border-radius: 8px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(20, 1fr);
    z-index: 10;
    overflow: hidden;
  }
}
