.play-btn {
  background: rgb(196, 208, 163);
  padding: 15px 15px;
  border: solid 6px #5a6148;
  border-radius: 15px;
  outline: none;

  font-size: 20px;
  font-family: "Press Start 2P", cursive;
  
  &:hover {
    background: #8b966e;
  }

  &:disabled {
    background: gray;

    &:hover {
      background: gray;
    }
  }
}
