doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="css/style.min.css", rel="stylesheet", type="text/css")
    link(rel="icon", type="image/ico", href="favicon.ico")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    title Snake
  body
    .wrapper
      .container
        .game
          .game__ui
            include ./components/common/score/score.pug
            include ./components/ui/play-button/play-btn.pug
          .board
            .board__wrapper.board__wrapper--1
              .board__wrapper.board__wrapper--2
                .board__wrapper.board__wrapper--3
                  .board__wrapper.board__wrapper--4
                    .board__inner
                        include ./components/common/food/food.pug
                        include ./components/common/snake/snake.pug
  script(src="js/app.min.js", type="module")

