@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

html,
body {
  height: 100%;
}

body {
  background: black;
  color: white;
  font-size: 28px;
  font-family: 'Kalam', cursive;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

